<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="header">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </div>

    <div class="featured" *ngIf="featured.length > 0">
        <h3>Featured Posts</h3>
        <div *ngFor="let f of featured">
            <b>{{ f["attributes"]["Title"] }}</b> by {{ f["attributes"]["Author"]["data"]["attributes"]["name"] }}<br/>
            Posted on {{ f["attributes"]["PostDate"] | amDateFormat: 'YYYY-MM-DD' }}
        </div>
    </div>

    <div class="posts" *ngIf="posts.length > 0">
        <h3>Recent Posts</h3>
        <div *ngFor="let p of posts">
            <b>{{ p["attributes"]["Title"] }}</b> by {{ p["attributes"]["Author"]["data"]["attributes"]["name"] }}<br/>
            Posted on {{ p["attributes"]["PostDate"] | amDateFormat: 'YYYY-MM-DD' }}
        </div>
    </div>
</body>
</html>